:root {
    --primary: #6a59ff;
    --white: #ffffff;
    --bg: #f5f5f5;
}

.swiper_container {
    height: 80vh;
    padding-top: 1rem !important;
    position: relative;
}

.swiper-slide {
    /* width: 25rem !important; */
    height: 80vh !important;
    position: relative;
    z-index: 1;
}
.swiper-slide-active {
    z-index: 3;
}
.swiper-slide-active .img-container{
    transition: .7s;
    transform: scale(1.1) translateY(10px);
    padding-inline-end: 30px;
    box-shadow:  0 0 0 9999px rgb(29 29 29 / 50%);
    /* animation: float 2s ease-in-out infinite; */
}
.img-container{
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    transition: .3s all;
}
/* .swiper-slide-active .img-container {
    border-radius: 10px;
    overflow: hidden;
} */
.swiper-slide .img-container .overlay{
    display: none;
}
.swiper-slide-active .img-container .overlay{
    display: initial;
    position: absolute;
    z-index: 4;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    color: black;
    backdrop-filter: blur(10px);
    padding: 10px;
}
.swiper-slide-active .img-container .overlay p{
    padding-inline-start: 10px;
}
.swiper-slide-active .img-container .overlay a{
    /* @apply bg-[#1d1d1dbe] hover:bg-[#1d1d1de2] text-[#05fdd8] hover:text-[#05fdd8] font-bold py-12 px-4 rounded-full transition block mx-auto mt-5 w-fit; */
    @apply text-[#000] hover:text-[#000] font-bold transition block m-auto w-fit;
}

.swiper-slide-active .img-container::before{
    /* content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  )
    repeat 0% 0% / 500% 100%;
    position: absolute;
    inset: -3px;
    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px); /*or z-index*/
    /* animation: rgb 6s linear infinite;   */
    z-index: 2;
}

[data-tilt="true"] {
    width: initial !important;
    padding: initial !important;
    margin: initial !important;
    background: initial !important;
    border-radius: initial !important;
    color: initial !important;
    font-size: initial !important;
    line-height: initial !important;
    box-shadow: initial !important;
    will-change: transform;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

@keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

@media (max-width: 500px) {
    .swiper-slide {
        /* width: 15rem !important; */
        height: 50vh !important;
    }
}

.swiper-slide img {
    width: 100%;
    height: 80vh;
    /* border-radius: 1rem; */
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    position: relative;
    bottom: .5rem;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}


.slider-controler .slider-arrow {
    background: transparent;
    width: 3.5rem;
    /* height: 3.5rem; */
    border-radius: 50%;
    position: relative;
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}
.slider-controler .slider-arrow svg {
    fill:#05fdd8;
    width: 25px;
    height: 25px;
}

.slider-controler .slider-arrow::after {
    content: '';
}